<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block page_name %}{% endblock page_name %} | HomesApp</title>
  </head>
  <body>
      <header>
        {% include "partials/header.html" %}
        {% block search_bar %}
        <form method="get" action="{% url "rooms:search" %}">
            <input name="city" type="text" placeholder="Search by City">
        </form>
        {% endblock search_bar %} 
      </header>
    {% block content %}{% endblock %} 
    {% include "partials/footer.html" %}
  </body>
</html>
